# Local terraform
**/.terraform/*
.terraform/**
.terraform/

# State files
*.tfstate
*.tfstate.*

# Sensitive data
*.tfvars

.terraform.lock.hcl

# Otros archivos
*.zip

node_modules
package-lock.json
package.json
*.log